<form role="form">
  <div class="form-group">
    <textarea name="body" class='form-control comment-input'></textarea>
  </div>
  <button type="submit" class="comment-submit btn">Comment</button>
</form>
