<div class="top-image">
  <img src="/assets/top1.png">
</div>  
<div class="container" id="projects">
  <h1>Popular Projects</h1>
  <div class="page">
    <%= render collection: @projects, partial: "projects/project_thumbnail", as: :project %>
  </div>  
</div>
<%= will_paginate %> 
