<div class="container">
  <form action=<%= project_backs_url(project.id)%> method="post">
    <%= auth_token_input %>
    <label> pledge amount
      <input type="number" name="back[amount]" value="">
      <input type="submit" value="submit">
    </label>

  </form>
</div>  
