<div class="top-image">
  <div id="top-image-slide" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#top-image-slide" data-slide-to="0" class="active"></li>
    <li data-target="#top-image-slide" data-slide-to="1"></li>
    <li data-target="#top-image-slide" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/01.jpg" >
      <div class="carousel-caption">
        <h1>KICK STARTER clone</h1>
      </div>
    </div>
    <div class="item">
      <img src="assets/02.jpg" >
      <div class="carousel-caption">
        <h1>Discover project</h1>
      </div>
    </div>
    <div class="item">
      <img src="assets/03.jpg" >
      <div class="carousel-caption">
        <h1>Start your own project</h1>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#top-image-slide" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#top-image-slide" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<div class="container" id="projects">
  <h1 id="scroll-notice">MANY projects, scroll down!</h1>
  <div class="page js-masonry" data-masonry-options='{ "itemSelector": ".thumbnail" }' id="thumbnails">
    <%= render collection: @projects, partial: "projects/project_thumbnail", as: :project %>
  </div>  
</div>
<%= paginate @projects %>

<script>
  $(function(){
    var $tiles = $('#thumbnails').css({ opacity: 0 });
    $tiles.imagesLoaded(function(){
      $tiles.animate({ opacity: 1 });
      $tiles.masonry({ itemSelector: '.thumbnail' });
    });
    
    $tiles.infinitescroll({
      navSelector  : 'nav.pagination',
      nextSelector : 'nav.pagination a[rel=next]',
      itemSelector : '#thumbnails .thumbnail',
      loading: {
        img: '/assets/loading.gif',
        finishedMsg: 'No more project to load',
      }
    }, function( newElements ) {
      var $newElems = $( newElements ).css({ opacity: 0 });
      $newElems.imagesLoaded(function(){
        $newElems.animate({ opacity: 1 });
        $tiles.masonry( 'appended', $newElems, true );
      });
    });
  });
</script>
