<h1>new project</h1>
<form action="<%= projects_url %>" method="post">
  <%= auth_token_input %>
  <label>
    Title
    <input type="text" name="project[title]" value="">
  </label>
  <br>
  <label>
    Category id 
    <input type="text" name="project[category_id]" value="">
  </label>  
  <br>
  <label>
    Target amount
    <input type="number" name="project[target_amount]" value="">
  </label>  
  <br>
  <label>
    End date 
    <input type="date" name="project[end_date]" value="">
  </label>  
  <br>
  <label>
    Description
    <textarea name="project[description]"></textarea>
  </label>
  <br>
  <input type="submit" value="Create new project">
</form>  
