/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
// @import 'bootstrap-sass';
@import "font-awesome";

$startgreen : #00FA9A;

#mock{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color : $startgreen;
}
#starter{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

body {
  padding-top: 50px;
  margin-bottom: 80px;
}

#header{
  height: 20px;
}

.top-image{
  height: 100%;
}  
.panel-spaced {
   margin-left: 10px;
}

.well-unspaced {
  margin-top: 0px;
}
//project thumbnail
#thumbnails{
  width: 1000px;
  margin: 0 auto;
}
.project-thumbnail{
  width: 320px;
  height: 350px;
  float: left;
  margin: 2px;
}

.progress{
 height: 10px;
  margin: 1px;
}
.progress-bar{
  background: $startgreen;
}

ul.project-stat {
  padding-left: 10px;
}
ul.project-stat li{
  width: 70px;
  float: left;
  list-style: none;
}
#infscr-loading{
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;

}
// project show page
.project-container{
  width: 100%;
}

.project-header{
  width: 960px; 
  margin: 0 auto; 
  background: white;
}
// project title
.project-header h2 {
  width: 800px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}
//project authorname
.project-header h4 {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}
#backer-notice{
  color: $startgreen;
}
.project-content{
  width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  height: 100%;
  background: white;
}
//project navigation bar

.project-content-header{
  width: 500px;
  height: 20px;
  margin-left:120px;
}
.project-content-header li{
  width: 110px;
  float: left;
  font-size: 150%;
  list-style-type: none;
  text-align: center;
}
.project-content-header li a:hover{
 text-decoration: none;
 color: #191970;
}  
.project-content-header a{

  color: gray; 
}
.project-content-header .active a{
  color: black;
}
.project-content-header .active {
  background-color: $startgreen;
}
//project content
.current-content{
  height:100%;
  width: 70%;
  float: left;
  padding-left:40px; 
}
.project-image{
  width: 550px;
}
.project-destription{
  float: left;
}
.project-status{
  width: 30%;
  float: left;
  height: 100%;
}

.project-status-item h1{
  margin: 0px;
}

//backers list
.backers-list{
  padding-left: 30px;
}
.backer-list-item{
  height:120px;
}
.comments-list li{
  list-style-type: none;  
}

.comment{
  height: 130px;
}
.destroy{
  padding: 3px;
}

.comment-form{
  height: 150px;
  width: 350px;
}

.comment-submit{
  padding: 3px;
}

//basic forms
.basic-form{
  width: 500px;
  margin: 0 auto;
}
.form-content{
  width: 400px;
}

.form-body{
  margin: 30px;
}

//discover page
.category-list{
}

.category-list button{
  list-style: none;
  display: inline;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}
.category-list a:hover{
 text-decoration: none;
}
.category-list button:hover{
  color: $startgreen;
}
